<a href="https://colab.research.google.com/github/PragnyaVijayan/pandas_practice/blob/main/05_Merge/Housing%20Market/Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [19]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows:
1. The first a random number from 1 to 4
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [20]:
series1 = pd.Series(np.random.randint(1,4,100))
series2 = pd.Series(np.random.randint(1,3,100))
series3 = pd.Series(np.random.randint(10000,30000,100))

series1

0     2
1     1
2     2
3     3
4     3
     ..
95    1
96    3
97    2
98    1
99    3
Length: 100, dtype: int64

### Step 3. Let's create a DataFrame by joinning the Series by column

In [21]:
df = pd.concat([series1, series2, series3], axis=1)
df

    0  1      2
0   2  2  29107
1   1  1  16771
2   2  1  18641
3   3  2  19104
4   3  2  12960
.. .. ..    ...
95  1  1  25149
96  3  1  27377
97  2  2  23271
98  1  2  15699
99  3  1  22184

[100 rows x 3 columns]

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [22]:
df = df.rename(columns={'series1' : 'bedrs', 'series2' : 'bathrs', 'series3' : 'price_sqr_meter'})

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [23]:
bigcolumn = pd.concat([series1, series2, series3], axis=0)
bigcolumn

0         2
1         1
2         2
3         3
4         3
      ...
95    25149
96    27377
97    23271
98    15699
99    22184
Length: 300, dtype: int64

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [25]:
len(bigcolumn)

300

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [26]:
bigcolumn = bigcolumn.reset_index(drop=True)